<div id="main">
  <div class="main_wrapper">
    <div class="main_phrase">
      <h1>
        <span>「経理×IT」</span>で
        <br>
        急成長する事業を支える。
      </h1>
    </div>
    <div class="sub_description">
      8年半にわたる経理の実務で培った知識・経験を活かし、
      <br>
      成長を支える強固なバックオフィス体制の一翼を担います。
    </div>
    <a href="<%= signup_or_login_url %>" class="btn-enter">
      <%= ENV["MY_NAME"] %>について
      <br>
      <span>もっと知りたい</span>
    </a>
  </div>
</div>