<div id="myskill" class="section_container">
    <div class="section_header">
      <h2>何ができるのか</h2>
    </div>
    <div class="skill_area">
    
      <div class="col-xs-12 col-lg-4">
        <div class="skillbox bg-white">
          <div class="skill_img col-xs-12 col-sm-6 col-lg-12">
            <img src="<%= asset_path "skill1.jpg" %>">
          </div>
          <div class="skill_text col-xs-12 col-sm-6 col-lg-12">
            新卒で製造所の経理に配属され、4年間の工場勤務の中で伝票処理・原価計算・棚卸資産会計などの製造業における経理業務を一通り経験。
            <br>
            期末決算では原価差額調整や低価法の切下げ判定等に関わっていました。今後の目標は自分で仕組み作りから携わってIPOまで持っていくこと。
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class="skillbox bg-white">
          <div class="skill_img col-xs-12 col-sm-6 col-lg-12">
            <img src="<%= asset_path "skill2.jpg" %>">
          </div>
          <div class="skill_text col-xs-12 col-sm-6 col-lg-12">
            予算統制の計画・実行を統括する部署の一員として、予算実績比較などの分析作業から経営陣への業績報告まで経営管理の実務を幅広く経験。
            <br>
            また、M&Aの際には被買収企業への派遣メンバーに選出され業務統合を支援するなど、管理体制の構築・運用においても力を発揮できます。
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class="skillbox bg-white">
          <div class="skill_img col-xs-12 col-sm-6 col-lg-12">
            <img src="<%= asset_path "skill3.jpg" %>">
          </div>
          <div class="skill_text col-xs-12 col-sm-6 col-lg-12">
            Word・Excel・PowerPoint等のOffice製品は一通り使用可能で、特にExcelはVBAでのマクロまで扱えます。
            <br>
            他にも基本的なWeb関連技術とRubyのプログラミング知識を持っており、小規模なWebアプリケーションであればRuby on Railsで構築可能です。
          </div>
        </div>
      </div>

    </div>
</div>