<div id="wanted" class="section_container bg-white">
  <div class="container-width_adjuster">
    <div class="section_header">
      <h2>こんな会社を探しています！</h2>
    </div>
    
    <div class="comment_area">

      <div class="msgbox_left">
        <div class="img_left">
          <img src="<%= asset_path "person1.jpg" %>">
        </div>
        <div class="wrapper_left">
          <div class="arrow_msg_left">
            数年以内のIPOを目指して準備を進めており、経理・財務のメンバーを強化したい。
          </div>
        </div>
      </div>
      
      <div class="msgbox_right">
        <div class="img_right">
          <img src="<%= asset_path "person2.jpg" %>">
        </div>
        <div class="wrapper_right">
          <div class="arrow_msg_right">
            今までバックオフィス業務は後回しだったけど、今後の成長のためには整備が急務。
          </div>
        </div>
      </div>

      <div class="msgbox_left">
        <div class="img_left">
          <img src="<%= asset_path "person3.jpg" %>">
        </div>
        <div class="wrapper_left">
          <div class="arrow_msg_left">
            エンジニアが中心の会社だから技術面の会話が分かる経理マンを探している。
          </div>
        </div>
      </div>

      <div class="msgbox_right">
        <div class="img_right">
          <img src="<%= asset_path "person4.jpg" %>">
        </div>
        <div class="wrapper_right">
          <div class="arrow_msg_right">
            人材の多様性を持たせるために異業種からでも積極的に採用を行っている。
          </div>
        </div>
      </div>

    </div>
    
  </div>
</div>