<div id="header" class="section_top">
  <div class="container-width_adjuster">
    
    <div class="resume_title">
      <h2>職務経歴書</h2>
    </div>
    
    <div class="description_box">
      <h3>職務要約</h3>
      <p>
        　上場企業において、入社から約８年半にわたって経理関連の業務に従事してまいりました。新卒で製造所の経理配属となり、伝票処理から原価計算・棚卸資産会計といった工場における一連の経理業務を経験した後、現在は本社財務部で予算統制や経営管理を中心とした業務に携わっております。
        <br>
        　今後は、経理財務のエキスパートとして専門スキルを磨き上げ、経営管理全般について貴社に貢献したいと考えております。
      </p>
    </div>

    <div class="description_box">
      <h3>自己PR</h3>
      <p>
        　経理・財務部門における約８年半のキャリアで決算処理(月次・期末)、予実管理、経営分析などの幅広い業務を経験してきました。また、M&Aの際には統合相手企業への派遣メンバーに抜擢され、経理業務や管理体制の再構築プロジェクトで中心的な役割を担いました。
        <br>
        　これらの経理財務に関する知識や経験を、これから事業の成長・拡大を目指す貴社において存分に活かし、急成長を支える強固なバックオフィス体制の一翼を担えるように努めてまいります。
      </p>
    </div>
    
  </div>
</div>