<div id="history">
  <div class="container-width_adjuster">
    
    <div class="description_box">
      <h3>職務経歴</h3>
      <h4>日新製鋼株式会社(東証一部上場) 2008年4月~現在</h4>
      <ul>
        <li>事業内容:鉄鋼製品の製造・加工および販売</li>
        <li>資本金:300億円 従業員数:4,042名 (2016年3月末)</li>
      </ul>
    </div>
    
    <div class="history_area">
    
      <div class="history_box">
        <div class="history_period col-xs-12 col-lg-2">2015年11月 ~現在</div>
        <div class="history_text col-xs-12 col-lg-10">
          <h4>本社 財務部・ステンレス原価統合チーム</h4>
          <p>【概要】<br>
            ステンレス事業における原価計算制度の再構築を目的としたプロジェクトに中心メンバーとして参画。
          </p>
          <p>
            【業務内容】<br>
            ・衣浦製造所(旧・日本金属工業)における原価管理体制の見直し<br>
            ・原価計算システムの改修・導入、月次業務フローの見直し
          </p>
        </div>
      </div>

      <div class="history_box">
        <div class="history_period col-xs-12 col-lg-2">2012年6月 ~2015年10月</div>
        <div class="history_text col-xs-12 col-lg-10">
          <h4>本社 財務部・予算チーム</h4>
          <p>【概要】<br>
            全社の経営管理を統括する部署の一員として、販売・製造・購買といった関係各所との連絡を密に取りながら経営情報を整理・分析・報告する業務に従事。取締役会や経営会議等への報告資料も一部を担当。
          </p>
          <p>
            【業務内容】<br>
            ・全社月次損益の取り纏め・分析、経営会議等への報告資料作成<br>
            ・予算統制の計画・実行、業績予想の作成、重点施策の進捗管理<br>
            ・各種損益計算(事業別・品種別・受注与件別)<br>
            ・経営統合による管理体制の見直し
          </p>
        </div>
      </div>

      <div class="history_box">
        <div class="history_period col-xs-12 col-lg-2">2008年6月 ~2012年5月</div>
        <div class="history_text col-xs-12 col-lg-10">
          <h4>周南製鋼所 総務部・経理チーム</h4>
          <p>【概要】<br>
            製造所における経理担当として月次決算・予算管理・原価分析・期末対応等の業務を4年間で一通り経験。
          </p>
          <p>
            【業務内容】<br>
            ・伝票処理、実績原価計算、棚卸資産会計、債務管理<br>
            ・予算実績差異の集計、原価報告資料の作成、製造所予算の取り纏め<br>
            ・原価見積り、監査対応(期末決算・J-SOX) 等
          </p>
        </div>
      </div>
      <div class="history_box">
        <div class="history_period col-xs-12 col-lg-2">2008年4月 ~2008年5月</div>
        <div class="history_text col-xs-12 col-lg-10">
          <h4>研修期間</h4>
          <p>
            ・新入社員研修<br>
            ・製造現場実習 (3交代勤務での現場実習を経験)
          </p>
        </div>
      </div>

    </div>
    
  </div>
</div>