<div id="others" class="section_bottom">
  <div class="container-width_adjuster">
    
    <div class="description_box">
      <h3>保有資格・PCスキル</h3>
      <ul>
        <li>日商簿記 2級</li>
        <li>Word、Excel(VBAマクロ使用可)、PowerPoint</li>
      </ul>
    </div>

    <div class="description_box">
      <h3>その他のアピールポイント</h3>
      <p>
        　事業会社での実務経験はありませんが、Webエンジニアに興味を持っており、サーバーサイドを中心としたプログラミングの勉強をしています。現時点では次のような知識・経験があります。
      </p>
      <ul>
        <li>Ruby on Railsによる簡単なWebアプリケーションの構築</li>
        <li>Web制作(HTML/CSS/Javascript等)に関する基礎的な知識</li>
        <li>GitHub、Herokuなどのクラウドサービスの利用経験</li>
      </ul>
    </div>
    
  </div>
</div>